<%= render "shared/header" %>
<div class="container">
  <h1>Edit your outfit</h1>
  <%= form_for @outfit do |f| %>
    <%= f.label :name, "Change name" %>
    <%= f.text_field :name, value: @outfit.name, placeholder: "edit outfit name" %>
    <%= f.label :tag, "Change tag" %>
    <%= f.text_field :tag, value: @outfit.tag, placeholder: "update current tag" %>
    <button type="submit" class="btn waves-effect waves-light">Update Outfit</button>
  <% end %>
  <%= 
    button_to "Delete Outfit", 
    @outfit, method: :delete, 
    data: { "turbo-confirm": "Are you sure you want to delete your outfit #{@outfit.name}?" },
    class: "btn btn-delete" 
  %>
</div>
