<%= render "shared/header" %>
<div class="container">
  <h2>Outfits</h2>
  <p class="advice">See what outfits you&#x27;ve already created and plan your outfits for the week</p>

  <div class="row">

  <% outfits = @outfits.sort{ |first, last| last.updated_at <=> first.updated_at} %>

  <% outfits.each do |outfit| %>

    <div class="col s12 m4">

      <div class="center-align">
        <span class="outfit-name">
          <%= link_to outfit.name, controller: "outfits", action: "show", id: outfit.id %>
        </span>
      </div>

      <div class="center-align">
        <span class="outfit-tag">
          #<%= outfit.tag %>
        </span>
      </div>

      <div class="outfit-index-board">
        <%= link_to(@outfit, controller: "outfits", action: "show", id: outfit.id) do %>
          <% shirt = outfit.items.select{ |item| item.category == "shirt" }  %>
          <% pants = outfit.items.select{ |item| item.category == "pants" }  %>
          <% shoes = outfit.items.select{ |item| item.category == "shoes" }  %>
          <div class="center-align">
            <%= image_tag shirt[0].image.url(:small) %>
          </div>
          <div class="center-align">
            <%= image_tag pants[0].image.url(:small) %>
          </div>
          <div class="center-align">
            <%= image_tag shoes[0].image.url(:small) %>
          </div>
        <% end %>
      </div>

      <div class="center-align">
        <%= link_to "Edit", controller: "outfits", action: "edit", id: outfit.id %>
      </div>

    </div>
  <% end %>
  </div>
</div>
