<%= render "shared/header" %>
<div class="container">
  <h1>Outfits</h1>
  <p class="advice">See what outfits you&#x27;ve already created and plan your outfits for the week</p>
  <div class="row">
  <% outfits = @outfits.sort{ |first, last| last.updated_at <=> first.updated_at} %>
  <% outfits.each do |outfit| %>
    <div class="col s12 m4">
      <div class="outfit-index-board card">
        <div class="card-content">
          <div class="center-align outfit-name">
            <%= link_to outfit.name, controller: "outfits", action: "show", id: outfit.id %>
          </div>
          <div class="center-align outfit-tag">
            #<%= outfit.tag %>
          </div>
          <%= link_to outfit, controller: "outfits", action: "show", id: outfit.id do %>
            <% shirt = outfit.items.select{ |item| item.category == "shirt" }  %>
            <% pants = outfit.items.select{ |item| item.category == "pants" }  %>
            <% shoes = outfit.items.select{ |item| item.category == "shoes" }  %>
            <div class="center-align">
              <% if shirt[0] %>
                <%= image_tag url_for(shirt[0].image.variant(resize_to_limit: [200, 200]).processed) if shirt[0].image.attached? %>
              <% end %>
            </div>
            <div class="center-align">
              <% if pants[0] %>
                <%= image_tag url_for(pants[0].image.variant(resize_to_limit: [200, 200]).processed) if pants[0].image.attached? %>
              <% end %>
            </div>
            <div class="center-align">
              <% if shoes[0] %>
                <%= image_tag url_for(shoes[0].image.variant(resize_to_limit: [200, 200]).processed) if shoes[0].image.attached? %>
              <% end %>
            </div>
          <% end %>
        </div>  
      </div>
    </div>
  <% end %>
  </div>
</div>
