<div class="row">
  <div class="clothing-type-title">
    shirts
  </div>
  <div class="divider"></div>
  <div class="horizontal">
    <div data-section-id="shirt">
      <% shirts = @items.select {|item| item.category == "shirt"} %>
      <% shirts.each do |item| %>
      <div class="item left" data-item-id="<%= item.id %>">
        <%= image_tag item.image.url(:small) %>
        <%= link_to "edit", controller: "items", action: "edit", id: item.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="clothing-type-title">
    pants
  </div>
  <div class="divider"></div>
  <div class="horizontal">
    <div data-section-id="pants">
      <% pants = @items.select {|item| item.category == "pants"} %>
      <% pants.each do |item| %>
      <div class="item left" data-item-id="<%= item.id %>">
        <%= image_tag item.image.url(:small) %>
        <%= link_to "edit", controller: "items", action: "edit", id: item.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="clothing-type-title">
    shoes
  </div>
  <div class="divider"></div>
  <div class="horizontal">
    <div data-section-id="shoes">
      <% shoes = @items.select{|item| item.category == "shoes"}%>
      <% shoes.each do |item| %>
      <div class="item left" data-item-id="<%= item.id %>">
        <%= image_tag item.image.url(:small) %>
        <%= link_to "edit", controller: "items", action: "edit", id: item.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>
