<%= render "shared/header" %>
<div class="container">
  <h1>Edit Item</h1>
  <%= form_for @item do |f| %>
  <div class="row">
    <div class="col m6">
      <label> Name </label>
      <%= f.text_field :name, value: @item.name, placeholder: "Enter new Name" %>
      <label> Brand </label>
      <%= f.text_field :brand, value: @item.brand, placeholder: "Enter new Brand" %>
      <label> Category </label>
      <%= f.select :category, options_for_select([['Shirt', 'shirt'], ['Pants', 'pants'], ['Shoes', 'shoes']], @item.category) %>
      <label class="btn waves-effect waves-light">
        Choose an image
        <span style="display: none">
          <%= f.file_field :image %>
        </span>
      </label>
      <%= f.submit "Update Item", class: "btn waves-effect waves-light" %>
    </div>
    <div class="col m6">
      <%= image_tag @item.image.url(:large) %>
    </div>
  </div>
  <% end %>
  <%= button_to "Delete Item", { action: "destroy", id: @item.id }, method: :delete, class: "btn waves-effect waves-light" %>
</div>
