<%= render "shared/header" %>
<div class="container">
  <h1>Edit Item</h1>
  <div class="row">
    <div class="col m6">
      <%= form_for @item do |f| %>
      <label> Name </label>
      <%= f.text_field :name, value: @item.name, placeholder: "Enter new Name" %>
      <label> Brand </label>
      <%= f.text_field :brand, value: @item.brand, placeholder: "Enter new Brand" %>
      <label> Category </label>
      <%= f.select :category, options_for_select([['Shirt', 'shirt'], ['Pants', 'pants'], ['Shoes', 'shoes']], @item.category) %>
      <div class="btn-layout">
        <label class="btn waves-effect waves-light">
          Choose an image
          <span style="display: none">
            <%= f.file_field :image, class: "image-input"  %>
          </span>
        </label>
      </div>
      <div class="btn-layout">
        <button type="submit" class="btn waves-effect waves-light">Update Item</button>
      </div>
      <% end %>
    </div>
    <div class="col m6 large-display image-preview">
      <%= image_tag @item.image.url(:large) %>
    </div>
  </div>
  <div class="row">
    <div class="col m6">
      <%= button_to "Delete Item", { action: "destroy", id: @item.id }, method: :delete, class: "btn waves-effect waves-light btn-delete" %>
    </div>
  </div>
</div>
