<%= render "shared/header" %>

<div class="container">
  <h4 class="center-align">Add new item</h4>

  <%= form_for @item do |f| %>
  <%= select_tag(:category, options_for_select([['Jemmy Legs', 1], ['Talos', 2]]))%>
  <ul>
    <li>
      <span style="color:red">*</span>
      <%= f.label :name, 'Item description'%>
      <%= f.text_field :name, required: true %>
    </li>
    <li>
      <%= f.label :brand, 'Brand' %>
      <%= f.text_field :brand %>
    </li>
    <li>
      <span style="color:red">*</span>
      <%= f.label :category, 'Category' %>
      <%= f.select(:category, options_for_select([['shirt', 'shirt'], ['pants', 'pants']])) %>
    </li>
    <div class="col s12 m6 center-align">
      <div class="form-padding center-align">
        <%= f.file_field :image %>
        <button class="btn waves-effect waves-light left-align" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </ul>
  <% end %>
</div>
